{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "plugins": ["prettier"],
    "rules": {
        "max-len": ["warn", {"code": 120}],
        "react/jsx-filename-extension": [
            1,
            {
            	"extensions": [".js", ".jsx"]
            }
        ],
        "react/prop-types": 0,
        "react/no-children-prop": 0,
        "no-underscore-dangle": 0,
        "no-use-before-define": 0,
        "no-shadow": 0,
        "import/imports-first": ["error", "absolute-first"],
        "import/newline-after-import": "error",
        "import/prefer-default-export": 0,
        "import/no-cycle": 0,
        "semi": "error"
    },
    "globals": {
      "window": true,
      "document": true,
      "localStorage": true,
      "FormData": true,
      "FileReader": true,
      "Blob": true,
      "navigator": true,
      "Headers": true,
      "Request": true,
      "fetch": true
    },
    "parser": "babel-eslint"
  }